.card {
    height: 40vh;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2) !important;
    transition: box-shadow 0.3s ease;
}

.card-header h5 {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Mantener el texto en una sola línea */
    white-space: nowrap;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Posicionamiento del icono de añadir evento */
.icono-anadir-evento {
    font-size: 3rem;
    color: #fb2f4a;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem; 
    z-index: 1000;
    margin: 0;
    text-align: right;
}
  
.icono-anadir-evento:hover {
    color: #ff0022;
}

.menu_activo {
    font-weight: bold;
    border-bottom: 0.25rem solid #fb2f4a;
    padding: 1rem;
    background-color: rgb(255, 190, 190);
}

.menu_inactivo {
    padding: 1rem;
}

#boton_menu {
    background-color: #ff3e57;
    border: 0
}

.dropdown-item {
    cursor: pointer;
}