<h2>EVENTOS</h2>

<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th>TITULO</th>
            <th>FECHA</th>
            <th>HORA</th>
            <th>LUGAR</th>
            <th>DESCRIPCIÓN</th>
            <th>INVITADOS</th>
            <th>PRECIO</th>
            <th>CREADOR EVENTO</th>
            <th>EDITAR</th>
            <th>BORRAR</th>
        </tr>
    </thead>
    <tbody>
        @for (e of listaEventos; track $index) {
        <tr>
            <td>{{e.titulo}}</td>
            <td>{{e.fecha | date}}</td>
            <td>{{e.hora}}</td>
            <td>{{e.lugar}}</td>
            <td>{{e.descripcion}}</td>
            <td>{{e.invitados}}</td>
            <td>{{e.precio | number}}</td>
            <td>{{e.creador_id | number}}</td>
            <td><a class="btn btn-warning" routerLink='/anadir-evento/{{e.idEvento}}' role="button"><i
                        class="bi bi-pencil-square"></i></a></td>
            <td><button class="btn btn-danger" (click)="borrarEvento(e)" type="button">Borrar</button></td>
        </tr>
        }
    </tbody>
</table>

<!-- <button type="button" class="btn btn-primary" (click)="irNuevoUModificarOwner()">Añadir Owner</button> -->

<a class="btn btn-primary" routerLink='/admin/' role="button">Zona de Administrador</a>
<a class="btn btn-primary" routerLink='/usuarios/' role="button">Configuración de usuarios</a>
<!-- <button type="button" class="btn btn-primary" (click)="irNuevoUModificarPet()">Añadir Mascosta</button> -->
<!-- <a class="btn btn-primary" routerLink="/" role="button">Cancelar</a> -->