<h2>USUARIOS</h2>

<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>EMAIL</th>
            <th>TIPO DE USUARIO</th>
            <th>EDITAR</th>
            <th>BORRAR</th>
        </tr>
    </thead>
    <tbody>
        @for (u of listaUsuarios; track $index) {
        <tr>
            <td>{{u.id}}</td>
            <td><a routerLink='/ver-usuario/{{u.id}}'>{{u.username}}</a></td>
            <td>{{u.nombre}}</td>
            <td>{{u.apellidos}}</td>
            <td>{{u.email}}</td>
            <td>{{u.tipo_usuario}}</td>
            <td><a class="btn btn-primary" routerLink='/anadir-owner/{{u.id}}' role="button">Editar</a></td>
            <td><button (click)="borrarUsuario(u)" type="button">Borrar</button></td>
        </tr>
        }
    </tbody>
</table>

<!-- <button type="button" class="btn btn-primary" (click)="irNuevoUModificarOwner()">Añadir Owner</button> -->

<a class="btn btn-primary" routerLink='/eventos' role="button">Eventos</a>