.formLogin {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.btn{
    background-color: rgba(255, 0, 38, 0.697);
    border: 0;
    padding: 0.75rem;
}