<div id="formUsuario" class="formUsuario">
    <form class="form-horizontal" #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm.value)">
        <legend>{{textoBoton}} usuario</legend>

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" required [(ngModel)]="usuario.username"
                name="username" #username="ngModel" />
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                El username es obligatorio
            </div>
        </div>

        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" required [(ngModel)]="usuario.nombre" name="nombre"
                #nombre="ngModel" />
            <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger">
                El nombre es obligatorio
            </div>
        </div>

        <div>
            <label for="apellidos">Apellidos</label>
            <input type="date" id="apellidos" class="form-control" required [(ngModel)]="usuario.apellidos"
                name="apellidos" #apellidos="ngModel" />
            <div [hidden]="apellidos.valid || apellidos.pristine" class="alert alert-danger">
                Los apellidos son obligatorios
            </div>
        </div>

        <div>
            <label for="sexo">Sexo</label>
            <select id="sexo" class="form-control" required [(ngModel)]="usuario.sexo" name="sexo" #sexo="ngModel">
                <option value="" disabled selected>Seleccione...</option>
                <option value="H">H</option>
                <option value="M">M</option>
            </select>
            <div [hidden]="sexo.valid || sexo.pristine" class="alert alert-danger">
                El sexo es obligatorio
            </div>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" required [(ngModel)]="usuario.email" name="email"
                #email="ngModel" />
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                El email es obligatorio
            </div>
        </div>

        <div>
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" class="form-control" required [(ngModel)]="usuario.contrasena"
                name="contrasena" #contrasena="ngModel" />
            <div [hidden]="contrasena.valid || contrasena.pristine" class="alert alert-danger">
                La contrasena es obligatoria
            </div>
        </div>

        <div>
            <label for="tipo_usuario">Tipo de usuario</label>
            <select id="tipo_usuario" class="form-control" required [(ngModel)]="usuario.tipo_usuario"
                name="tipo_usuario" #tipo_usuario="ngModel">
                <option value="" disabled selected>Seleccione...</option>
                <option value="admin">Admin</option>
                <option value="consumidor">Consumidor</option>
                <option value="ofertante">Ofertante</option>
            </select>
            <div [hidden]="tipo_usuario.valid || tipo_usuario.pristine" class="alert alert-danger">
                El tipo de usuario es obligatorio
            </div>
        </div>

        <br />
        <div>
            <button class="btn btn-primary" type="submit" role="button">{{textoBoton}}</button>
            <a class="btn btn-primary" routerLink="/usuarios" role="button">Cancelar</a>
        </div>
    </form>
</div>