<footer class="p-5 text-white">
  <div>
    <div class="company-lettering">Eventify</div>
  </div>

  <div class="links-section">
    <h4>Contacto</h4>
    <a href='mailto:eventifysevilla@gmail.com'>eventifysevilla&#64;gmail.com</a>
    <a target="_blank" href="https://www.instagram.com/eventify_sevilla/">Instagram</a>
    <a href="#">+34 628 462 951</a>
    <a target="_blank"
      href="https://www.google.es/maps/place/Pl.+Virgen+de+las+Angustias,+7,+41800+Sanl%C3%BAcar+la+Mayor,+Sevilla/@37.3873521,-6.1998022,17z/data=!3m1!4b1!4m6!3m5!1s0xd1210d5b7db8ce5:0x301c26c43ff2ff96!8m2!3d37.3873479!4d-6.1972273!16s%2Fg%2F11cscy6ry_?entry=ttu">Ubicación
      de Sucursal</a>
  </div>
</footer>