<footer class="p-5 text-white">
    <div>
      <div class="company-lettering">Eventify</div>
    </div>
  
    <div class="links-section">
      <h4>Servicios</h4>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
    </div>
  
    <div class="links-section">
      <h4>Acerca</h4>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
    </div>
  
    <div class="links-section">
      <h4>Contacto</h4>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
      <a href="#">Texto de ejemplo</a>
    </div>
  </footer>